body {
  margin: 0;
  font-family: sans-serif;
  }

  #root .section {
  align-items: center;
}
#root {
  display: flex;
  flex-direction: column;
  /* para ocupar a altura da página */
  min-height: 100vh; 

}

main {
  flex-grow: 1;
}
